@font-face {
   font-family: 'Futura';
   src: url("../src/assets/fonts/futura-bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: block;
}

@font-face {
   font-family: "kp";
   src: url("../src/assets/fonts/kinopoisk-regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: block;
}

@font-face {
   font-family: "kp";
   src: url("../src/assets/fonts/kinopoisk-bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: block;
}

@font-face {
   font-family: "kp";
   src: url("../src/assets/fonts/kinopoisk-bold.woff2") format("woff2");
   font-weight: 600;
   font-style: normal;
   font-display: block;
}

@font-face {
   font-family: "kp";
   src: url("../src/assets/fonts/kinopoisk-medium.woff2") format("woff2");
   font-weight: 500;
   font-style: normal;
   font-display: block;
}

@font-face {
   font-family: "kp";
   src: url("../src/assets/fonts/kinopoisk-light.woff2") format("woff2");
   font-weight: 300;
   font-style: normal;
   font-display: block;
}

@font-face {
   font-family: "kp";
   src: url("../src/assets/fonts/kinopoisk-lite.woff2") format("woff2");
   font-weight: 200;
   font-style: normal;
   font-display: block;
}
